@font-face{
	font-family: 'Ubuntu', sans-serif;
}
/*body{overflow-x:hidden;font-family: 'Ubuntu', sans-serif !important;}

h1,h2,h3,h4,h5,h6{font-family: 'Ubuntu', sans-serif !important;/*text-transform:uppercase;font-weight:700*/}*/
